
body
{
    background-color: #eee;
}

.imageBox
{
    position: relative;
    height: 100%;
    width: 100%;
    border:1px solid #aaa;
    background: url(../img/bgtrans80.png);
    overflow: hidden;
    background-repeat: no-repeat;
    cursor:move;
}

.imageBox .thumbBox
{
    position: absolute;
    top: 35%;
    left: 50%;
    width: 600px;
    height: 600px;
    margin-top: -300px;
    margin-left: -300px;
    box-sizing: border-box;
    border: 1px solid rgb(102, 102, 102);
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
    background: none repeat scroll 0% 0% transparent;
}

.imageBox .spinner
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    line-height: 400px;
    background: rgba(0,0,0,0.7);
}

.imageBox {
   zoom: 0.5;
}

textarea {
    width: 400px;
    height: 200px;
}

.pic-container {
    background-color: #fed8b1;
    display: inline-block;
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
